<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title th:text="#{index_title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="chart.css"/>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}" th:text="#{menu_message}"></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a class="navbar-brand" th:href="@{/list}">Home</a></li>
            <li class="active"><a class="navbar-brand" th:href="@{/submit}">Submit</a></li>
            <li><a th:text="'Language: ' + ${#locale}"></a></li>
        </ul>
    </div>
</nav>

<div class="alt-grid">
<div class="container">

    <div class="row lead">
        <p>Welcome to chord chart generator app!</p>
    </div>

</div>
</div>

</body>
</html>
