<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title th:text="#{index_title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="chart.css"/>
	<script type="text/javascript">

		function ConvertFormToJSON(form){
            var array = jQuery(form).serializeArray();

            // prep submit object
            var json = {};
            json.info = {};
            json.info.intro = {};
            json.info.intro.bars = [];
            json.grid = {};
            json.grid.sections = {};
            json.grid.sections.part = "A";
            json.grid.sections.part.bars = [];
            json['grid']['sections']['part'].bars[0] = "{\"chord\": \"Test\"}";

            // iterate each form item in order
            jQuery.each(array, function() {
                if(this.name=='song-key' ||this.name=='song-copyright' ||this.name=='song-genre'
                    ||this.name=='song-bpminute' ||this.name=='song-bpmeasure' ||this.name=='song-status'
                    ||this.name.substr(0,10)=='song-intro' ||this.name.substr(0,1)=='A' )
                {
                    if (this.name.substr(0,10) == 'song-intro') {
                        json['info']['intro'].bars.push({"chord": this.value});
                    } else if (this.name.substr(0,1) == 'A') {
                        console.log(this.name);
                        //json['grid']['lines'][0].bars.push({"chord": this.value});
                    } else {
                        json['info'][this.name] = this.value;
                    }
                } else {
                    json[this.name] = this.value;
                }
            });

            return json;
        }

		jQuery(document).on('ready', function() {
			jQuery('form#add-song').bind('submit', function(event){
				event.preventDefault();
				
				var form = this;
				var json = ConvertFormToJSON(form);

				$.ajax({
					type: "POST",
					url: "submit.php",
					data: json,
					dataType: "json"
				}).always(function() { 
					$("#results").html('<pre>' + JSON.stringify(json, null, 4) + "</pre>");
				}).fail(function() {
                    $("#error").html('<pre>' + "HTTP post failed to add new song. Not hooked up yet?" + "</pre>");
				});

				return true;
			});
		});
	</script>	
</head>
<body>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/}" th:text="#{menu_message}"></a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a class="navbar-brand" th:href="@{/list}">Home</a></li>
			<li class="active"><a class="navbar-brand" th:href="@{/submit}">Submit</a></li>
			<li><a th:text="'Language: ' + ${#locale}"></a></li>
		</ul>
	</div>
</nav>

<div class="alt-grid">
    <div class="container">

<div id="page">
	<!-- [banner] -->
	<header id="banner">
			<h1>Submit A New Song</h1>
	</header>
	<!-- [content] -->
	<section id="content">
		<!-- [song] -->
		<article id="song">			
			<section class="new-song">
				<form id="add-song">
                    <div>
                        <div class="showBlock">
                            <div class="showInline">
                            <label for="song-title">Title:</label>
                            <input id="song-title" name="song-title" type="text" required="true" />
                            </div>
                            <div class="showInline">
                            <label for="song-key">Key:</label>
                            <input id="song-key" name="song-key" type="text" required="true" />
                            </div>
                            <div class="showInline">
                            <label for="song-genre">Genre:</label>
                            <input id="song-genre" name="song-genre" type="text" required="true" value="Gypsy Jazz" />
                            </div>
                            <div class="showInline">
                            <label for="song-bpminute">BPMinute (0-340):</label>
                            <input id="song-bpminute" name="song-bpminute" type="text" required="true" />
                            </div>
                        </div>
                        <div class="showBlock">
                            <div class="showInline">
                            <label for="song-author">Author:</label>
                            <input id="song-author" name="song-author" type="text" required="true" />
                            </div>
                            <div class="showInline">
                            <label for="song-copyright">Copyright:</label>
                            <input id="song-copyright" name="song-copyright"/>
                            </div>
                            <div class="showInline">
                            <label for="song-status">Status:</label>
                            <input id="song-status" name="song-status" type="text" required="true" value="New" />
                            </div>
                            <div class="showInline">
                            <label for="song-bpmeasure">BPMeasure (0-8):</label>
                            <input id="song-bpmeasure" name="song-bpmeasure" type="text" required="true" value="4" />
                            </div>
                        </div>
                        <br /><br />
                        Intro Section:
                        <br />
                        <div class="showBlock">
                            <div class="showInlineFlex">
                            <input class="form-textbox" id="song-intro-1" name="song-intro-1" type="text" value="1" />
                            <input class="form-textbox" id="song-intro-2" name="song-intro-2" type="text" value="2" />
                            <input class="form-textbox" id="song-intro-3" name="song-intro-3" type="text" value="3" />
                            <input class="form-textbox" id="song-intro-4" name="song-intro-4" type="text" value="4" />
                            </div>
                        </div>
                        <br /><br />
                        <label>Chord Grid:</label>
                        <br /><br />
                        <label>Section A:</label>
                        <br />
                        <div class="showBlock">
                        <div class="showInlineFlex">
                            <input class="form-textbox" id="A1x1" name="A1x1" type="text" value="1" />
                            <input class="form-textbox" id="A1x2" name="A1x2" type="text" value="2" />
                            <input class="form-textbox" id="A1x3" name="A1x3" type="text" value="3" />
                            <input class="form-textbox" id="A1x4" name="A1x4" type="text" value="4" />
                            <input class="form-textbox" id="A1x5" name="A1x5" type="text" value="5" />
                            <input class="form-textbox" id="A1x6" name="A1x6" type="text" value="6" />
                            <input class="form-textbox" id="A1x7" name="A1x7" type="text" value="7" />
                            <input class="form-textbox" id="A1x8" name="A1x8" type="text" value="8" />
                        </div>
                        </div>
                        <div class="showBlock">
                        <div class="showInlineFlex">
                            <input class="form-textbox" id="A2x1" name="A2x1" type="text" value="9" />
                            <input class="form-textbox" id="A2x2" name="A2x2" type="text" value="10" />
                            <input class="form-textbox" id="A2x3" name="A2x3" type="text" value="11" />
                            <input class="form-textbox" id="A2x4" name="A2x4" type="text" value="12" />
                            <input class="form-textbox" id="A2x5" name="A2x5" type="text" value="13" />
                            <input class="form-textbox" id="A2x6" name="A2x6" type="text" value="14" />
                            <input class="form-textbox" id="A2x7" name="A2x7" type="text" value="15" />
                            <input class="form-textbox" id="A2x8" name="A2x8" type="text" value="16" />
                        </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="showBlock">
					    <input type="submit" value="Add Submit"/>
                    </div>
				</form>
			</section>
			
			<br/>
			Body of post (for validation):
			<br/><br/>
			<div id="results"></div>
            <div id="error"></div>
			<br/><br/>
			<footer>
			</footer>
		</article>
		<!-- [/song] -->		
	</section>
	<!-- [/content] -->
	
	<footer id="footer">
		<details>
			<summary>Copyright 2017</summary>
			<p>Jon Austen. All Rights Reserved.</p>
		</details>
	</footer>
</div>
<!-- [/page] -->

</div>
</div>

</body>
</html>
